# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/

# Node
node_modules/
npm-debug.log

# Env
.env
*.env

# OS
.DS_Store

# JetBrains IDEs
.idea/
*.iml

# Gradle
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.jar

# Spring Boot
*.log
*.gz
